.menubar-container {
  background-color: var(--color4) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  border-radius: 0px !important;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 35px;
  margin: 10px;
}   

.menubar-inner-container {
  margin-left: 10px !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 620px) {
  .menubar-inner-container {
    flex-direction: column;
    margin-left: 0px !important;
  }
  .custom-progressbar-container {
    margin-top: 6px !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
}

.submit-btn {
  /* color: white !important; */
  font-weight: 700 !important;
  /* margin-right: 15px !important; */
  background-color: var(--color3) !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 2px;
}
.submit-btn:hover {
  color: rgba(255, 255, 255, 0.852) !important;
  font-weight: 700 !important;
  background-color: #cdc2aeab !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/*  */
.custom-progressbar-container {
  margin-left: 10px !important;
}
/*  */

/*  */
.header-main-container {
  flex-direction: row;
  gap: 10px;
}

.header-main-container
  > .dropdown
  > .dropdown-menu
  > button.dropdown-item:active {
  background-color: #354259;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .header-main-container {
    flex-direction: column;
    gap: 0px;
  }
}
/*  */

.animated-pdf-page {
  user-select: none;
  transition: all 0.5s;
}

/*  */
.print-pdf-main-container {
  max-height: 100%;
  overflow-y: scroll;
}

/*  */
.cursor-pointer {
  cursor: pointer;
}
