.menubar-container {
  background-color: var(--color4) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  border-radius: 0px !important;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 35px;
  margin: 10px;
}   

.menubar-inner-container {
  margin-left: 10px !important;
}


.page-div {
  border: 1px solid #c4c4c4;
  overflow : auto;
  max-width: 100%;
  /* position: relative; */
}

.page-div-signed {
  border: 1px solid #c4c4c4;
  overflow-x: scroll;
  /* max-width: 95%; */
  /* position: relative; */
}

.page-section-signed {

  /* position: absolute; */
  /* width: 75px; */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 620px) {
  .menubar-inner-container {
    flex-direction: column;
    margin-left: 0px !important;
  }
  .custom-progressbar-container {
    margin-top: 6px !important;
  }
  .page-div{
    /* width: 90vw; */
    overflow: hidden;
  }
  .page-div-signed{
    /* max-width: 72%; */
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    canvas{
      height: auto !important;
      width: 90vw !important;
    }
  }
  .print-pdf-main-container{
    overflow:hidden;
    max-width: 100%;
    canvas{
      width: 90vw !important;
      height: auto !important;
    }
  }

  /* .page-section{
    width: 75px;
  } */
   
}

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .page-div{
    /* max-width: 72%; */
    overflow: hidden;
  }
  .page-div-signed{
    /* max-width: 72%; */
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    .fw-bold{
      margin-right:10px !important;
    }
    canvas{
      height: auto !important;
      width: 90vw !important;
    }
  }
}

.submit-btn {
  /* color: white !important; */
  font-weight: 700 !important;
  /* margin-right: 15px !important; */
  background-color: var(--color3) !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 2px;
}
.submit-btn:hover {
  color: rgba(255, 255, 255, 0.852) !important;
  font-weight: 700 !important;
  background-color: #cdc2aeab !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/*  */
.custom-progressbar-container {
  margin-left: 10px !important;
}
/*  */

/*  */
.header-main-container {
  flex-direction: row;
  gap: 10px;
}

.header-main-container
  > .dropdown
  > .dropdown-menu
  > button.dropdown-item:active {
  background-color: #354259;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 480px) {
  .header-main-container {
    flex-direction: column;
    gap: 0px;
  }

  .print-pdf-main-container{
    overflow:hidden;
    max-width: 100%;
    canvas{
      width: 90vw !important;
      height: auto !important;
    }
  }
}
/*  */

.animated-pdf-page {
  user-select: none;
  transition: all 0.5s;
}

/*  */
.print-pdf-main-container {
  max-height: 100%;
  /* width: 90vw; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* overflow-x: scroll; */
  /* canvas{
    width: 90vw !important;
    height: auto !important;
  } */
}

/*  */
.cursor-pointer {
  cursor: pointer;
}
